server:
  port: 8888

spring:
  application:
    name: capstone-configure-service
#  rabbitmq:
#    host: 127.0.0.1
#    port: 5672
#    username: guest
#    password: guest
  cloud:
    config:
      server:
        git:
          uri: https://github.com/KimTaeKang57/capstone-cloud-config.git

management:
  endpoints:
    web:
      exposure:
        include: health, busrefresh